@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing:border-box ;
  font-family: "Dosis";
}
header a.active{
  color: #ffffff;
  font-weight: 800;
  border-bottom: 2px solid #fff;
}
.dashboard-items a.active{
  border-right: 4px solid #0B85FF;
}
.dashboard-items a.active span:nth-child(1){
  border: 1px solid #0B85FF;
  color: #0B85FF;
}
.dashboard-items a.active span:nth-child(2){
   color: #0B85FF;
}
.slick-slide >div{
  margin: 0 20px 20px 20px;
}
.slick-dots li button:before{
  content: " " !important;
  width: 20px !important;
  height: 8px !important;
  background: #8f8f8f !important;
}
.slick-dots li.slick-active button::before{
  background: #032b43 !important;
}
.events-container .heading , .speakers-container .heading , .event-details-container .heading{
  background-image:linear-gradient(to right , #7eceff68,#7eceff68), url(assets/background.jpg) ;
  background-repeat: no-repeat;
  background-size:auto;
  background-attachment: fixed;
  background-position: bottom;
  /* color: #ffffffd7; */
  /* color: #032b43c0; */
}




.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #0B85FF #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}



